.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  --size: 2.7rem;
  height: var(--size);
  width: var(--size);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: gainsboro;
  padding: 0.5rem;
}
.buttonsPlaceholder {
  display: flex;
  gap: 0.3rem;
}
