.addTodoForm {
  display: flex;
  /* align-items: center; */
  gap: var(--add-todo-form-items-gap);
  height: var(--add-todo-form-height);
  margin-bottom: 40px;
}
.input {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}
.addTodoButton {
  width: max-content;
  height: max-content;
  font-size: 1.1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (width <= 600px) {
  .addTodoForm {
    flex-flow: column;
  }
}
