.todoListWrapper {
  padding: 3rem;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 400px;
}
.checkbox {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
}
