@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --add-todo-form-height: 50px;
  --add-todo-form-items-gap: 2rem;
  /* Todo */
  --buttons-gap: 0.2rem;
  --todo-content-input-margin-sides: 1rem;
  /* Colors */
  --color-aero: hsla(198, 78%, 64%, 1);
  --color-maize: hsla(53, 98%, 65%, 1);
  --color-yellow-green: hsla(79, 54%, 51%, 1);
  --color-cinnabar: #e55a34;
  --color-pumpkin: #fa761e;
  --color-light-gray: hsla(0, 0%, 80%, 1);
  --color-charcoal-gray: hsla(0, 0%, 40%, 1);
  --color-cool-gray: hsla(210, 10%, 60%, 1);
  --color-warm-gray: hsla(30, 10%, 60%, 1);
  --color-silver: hsla(0, 0%, 75%, 1);
  --color-cream: hsla(60, 100%, 90%, 1);
  --color-white: hsla(100, 100%, 100%, 1);
  --brick-red: #bf4040;
}

body {
  margin: 0;
  padding: 0;
  background-color: #9bc53d;
}
:is(.hoverGreen, .hoverCinnabar) img {
  transition: 0.3s;
}

.hoverGreen:hover img {
  filter: brightness(0) saturate(100%) invert(71%) sepia(54%) saturate(538%)
    hue-rotate(33deg) brightness(95%) contrast(82%);
}

.hoverCinnabar:hover img {
  filter: brightness(0) saturate(100%) invert(12%) sepia(56%) saturate(6829%)
    hue-rotate(356deg) brightness(104%) contrast(117%);
}
